
@{
    ViewBag.Title = "Projects";
}

<h2><a href="https://github.com/TekWarl0k/Lexiconassignment">Github directory länk</a></h2>

<h3>C# Uppgifter</h3>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/calculator">Kalkylator</a></p>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/arenafighter">Arena Fighter</a></p>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/golf">Golf</a></p>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/vendingmachine">Vending Machine</a></p>

<h3>Frond End uppgifter</h3>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/htmlassignment">HTML</a></p>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/cssassignment">CSS</a></p>
<p><a href=" "></a></p>
<p><a href=" "></a></p>

<h3>MVC uppgifter</h3>
<p><a href="https://github.com/TekWarl0k/Lexiconassignment/tree/master/layoutassignment">MVC uppgifter samlingssida</a></p>
<p><a href=" "></a></p>
<p><a href=" "></a></p>
<p><a href=" "></a></p>

